# SPDX-FileCopyrightText: 2024 Vladimir Rusinov <vladimir.rusinov@gmail.com>
# SPDX-License-Identifier: Apache-2.0

[flake8]
max-line-length = 120
extend-ignore=WPS111,WPS432,WPS237,WPS221,WPS226,WPS407
